

body {
  margin: 0;
  font-family: 'Roboto Mono';
}

p{
  text-decoration: none;
}

.navbar a{
  text-decoration: none;
  color: white;
}

.navbar{
  background-color: #3c3f58;
  padding: 2px;
}

.navbar_menu{
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin-right: 10px;

}

.navbar_menu li{
  padding: 8px 12px;
  border-radius: 5px;
}

.navbar_menu li:hover{
  background-color: #4d5387;
}

.navbar_left,
.navbar_right{
  display: flex;
  padding-left: 6px;
  align-items: center;
}

@media screen and (max-width: 768px){
  .navbar{
    flex-direction: column;
  }

  .navbar_menu{
    flex-direction: column;
  }

  .navbar_left,
  .navbar_right{
    flex-direction: column;
  }

}

.header{
  position: relative;
}

.header img{
  max-width: 100%;
  z-index: 0;
}

.header h1{
  position: absolute;
  z-index: 1;
  position: absolute;
  top: 50px;
  left: 15px;
  animation:
    typing 2.5s steps(55, end),
    blink-caret .5s step-end infinite;
  overflow: hidden;
  border-right: .5em solid orange;
  white-space: nowrap;
  margin: 0 auto;
}

@keyframes typing {
  from { width: 0 }
  to { width: 57% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #f09a37 }
}

.skill ul{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.skill li{
  /* border: 3px solid black; */
  border-radius: 6px;
  padding: 30px;
  flex-basis: 30%;
}

.skill li:hover{

}

.my_project ul{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

section{
  margin-left: 10px;
}

.contact_menu li{
  list-style-type: none;
  display: block;

}
